

article {
    max-width: 700px;
    margin: auto;
    background-color: rgb(202, 227, 224);
    border: 4px dashed  rgb(96, 151, 124);
    border-radius: 50px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

body{
    color: darkolivegreen;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(227, 247, 234);
}

p {
    font-size: 18px;
    line-height: 25px;
}

h1 {
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
}

h2, h3 {
    font-size: 22px;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

nav ul {
    list-style-type:none;
    padding-left: 2px;
    margin-bottom: 70px;
}

nav ul li a {
    display: block;
    color: rgb(63, 96, 117);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5em;
    font-size: 18px;
    text-decoration:underline dotted rgb(31, 101, 101);
    border:solid 1px rgb(47, 53, 79);
    margin-bottom: 5px;
    padding: 10px;
    background-color: rgb(212, 231, 222);
    text-align: center;
}

nav ul li a:hover {
    background-color: rgb(199, 224, 199);
    border-color: rgb(142, 179, 125);
}

section {
    margin-bottom: 50px;
}

.introduction {
    font-size: 21px;
    line-height: 28px;
    text-align: center;
   
}