@font-face {
    font-family: 'freightround_probold';
    src: url('type/freightroundprobold-webfont.woff2') format('woff2'),
         url('type/freightroundprobold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'freightround_probook';
    src: url('type/freightroundprobook-webfont.woff2') format('woff2'),
         url('type/freightroundprobook-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'freightround_prolight';
    src: url('type/freightroundprolight-webfont.woff2') format('woff2'),
         url('type/freightroundprolight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    max-width: 600px;
    margin: auto;
}

h1 {
    font-family: 'freightround_probold', Arial, sans-serif;
}

p { 
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic; 
}

.icons {
    font-size: 40px;
    letter-spacing: 10px;
    color: rgb(96, 179, 217);
}

.icons:hover {
    color: rgb(85, 126, 168);
}