/* image rules */
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    border-radius: 12px;
}

/* whole site */
body {
    background-color: #fffeee;
    font-family: "Gabarito";

}

body section {
    padding: 10px 20px 35px 20px;
}



/* header rules */
header {
    background-color: #5892DE;
    padding: 2px;
    height: auto;
    width: auto;
    background-image: url(images/decorative.png), url(images/decorative.png);
    background-size:100px;
    background-repeat: no-repeat;
    background-position: -30px -30px, right 20px ;
}

header h1 {
    text-align: center;
    color: #FFFFF1;
    font-family: "Dokdo", system-ui;
    margin: 10px;
    font-size: 55px;
    text-align: center;

}

/* navigation */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    flex: 1;
    max-width: 75px;
}

nav ul li a {
    color:#5b5b38;
    text-decoration-line: none;
}

.singlepostnav ul {
    display: flex;
    gap: 30px;
    padding: 0px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
}

.singlepostnav  ul li a {
    display: block;
    text-align: center;
    color: #FBFFE7;
    
}

.singlepostnav ul li {
    background-color: #EA945E;
    padding: 7px;
    border-radius: 15px;  
}


.homenav {
    padding-left: 20px;
}

.homenav ul li ul {
    position: absolute;
    left: -9999px;
    
    
}

.homenav ul li:hover ul {
    left: auto;
    
}

.homenav ul li ul li a {
   
    padding: 10px;
    padding-top: 5px;
}

.homenav ul li ul li a:hover {
    background: #f8d7c3;
    border-radius: 30px;
  padding: 5px;
}

.submenu {
    background-color: #fff1d8;
    padding: 10px;
    border-radius: 20px;
    margin-top: 12px;
}

.submenu li {
    padding: 5px;
    margin: auto;
    width: 100%;
}

.posttext {
    margin-top: 45px;
}

.posttext > a{
    background-color: #EA945E;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
    color: #FBFFE7;
}


/* article styling */

.title {
   display: flex;
}

article h2 {
    font-size: 20px;
    flex: 3;
}

article time {
    flex: 1;
    margin: auto;
    font-size: 16px;
}

.readmore {
    text-align: right;
    font-size: 13px;
    padding-top: 5px;
   
}



.readmore a {
    background-image: url(images/readbutton.png);
    padding: 20px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #FFFFF1;
    text-decoration: none;
}

.postheader {
    text-align: center;
    margin-bottom: 10px;
}

.postheader h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.postcont {
    margin: auto;
    line-height: 22px;
    max-width: 900px;
}


/* footer styling */
footer {
    background-color: #2F4F8B;
    padding: 1px;
}

footer {
    display: flex;
    justify-content: center;
    gap: 30px;
    color: #FFFFF1;
    font-size: 16px;
    margin-top: 20px;

}

footer p a {
    color: #FBFFE7;
    
}

p a {
    text-decoration: none;
    color: #5d5d2a;
}

@media only screen and (min-width: 600px) {

/* header rules */

.desktopheader {
    display: flex;
    gap: 20px;
    justify-content: space-between;
   align-items: center;
    padding-top: 10px;
}

header {
    padding: 15px;
    background-image: url(images/decorative.png),url(images/titlebg.png);
    background-color:transparent;
    background-position: left center, left;
    background-size: 100px, 100% 100%;
    width: 50%;
    
}

header h1 {
    margin-left: 50px;
}

/* navigation rules */


nav ul li a {
    color:#5b5b38;
    text-decoration-line: none;
}

.homenav  {
    padding: 35px;
    margin-right: 30px;
    background-image: url(images/decorative.png),url(images/decorative.png),url(images/homenavbg.png);
    background-size: 35px, 35px, contain;
    background-position: left, right, center;
    filter: drop-shadow(0 7px 13px rgba(195, 159, 82, 0.25));
    background-repeat: no-repeat; 
    
}



.homenav ul {
    display: flex;
    gap: 40px;
    flex-direction: row-reverse;
    
}

.homenav ul li {
    max-width: fit-content;  
    
}

.homenav ul li ul {
    left: 0;
    position: relative;
    
}

.homenav ul li ul li a {
    background: none;
    padding: 0;
    border-bottom: none;
}

.homenav ul li ul li a:hover {
    background: #EA945E;
}

.submenu {
    background-color: transparent;
    margin-top: 0;
}

.submenu li a {
    color: #FBFFE7;
}

.posttext {
    margin: 0;
}

.posttext > a {
    display: none;
}

.homenav ul li ul li a:hover {
  padding: 0;
}

.desktopnav {
    display:flex;
    justify-content: space-between;
}

.singlepostnav {
   margin: auto;
}

.singlepostnav ul {
    gap: 100px;
}
    
.singlepostnav ul li  {
    width: 150px;
}

/* homepage layout rules */

.homegrid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 50px;
   grid-template-rows: 1fr 1fr;
   padding: 30px;
   max-width: 1250px;
   margin: auto;
   margin-top: 20px;

}
 
/* homepage blogpost subheader rules */

.title {
    display: block;
    padding-top: 10px;
}

.title h2 {
    margin: 0;
    padding: 5px;
}

time {
    padding: 5px;
}

.desktoparrange {
    display: flex;
    flex-direction: column-reverse;
}



/* article readmore button placement */

article {
    position: relative;
    padding-bottom: 25px;
}

.readmore{
   
    position: absolute;
    bottom: -10px;
    left: 0;
    
}

/* singlepost flex layout */

.desktopflex {
    display: flex;
    margin-left: 125px;
    margin-right: 125px;
    position: relative;
}

/* decorative linebreak */

picture {
    max-height: fit-content;
}

picture img {
   position: absolute;
   left: -40px;
   top: 20px;
}

.postcont{
    line-height: 30px;

}



}

